<?xml version="1.0" encoding="UTF-8"?>
<Module>
<ModulePrefs title="menu portal BBVA Venezuela" >
﻿  <Require feature="dynamic-height"/>   
﻿  <Require feature="setprefs" />  
</ModulePrefs>  

<Content type="html"><![CDATA[

<style type="text/css">
﻿ 

﻿  #menu {
﻿  ﻿  margin-top:0px;
﻿  ﻿  position:relative;
﻿  ﻿  height:38px;
﻿  }
﻿  #dropline {
﻿  ﻿  position:relative;
﻿  ﻿  font-size:12px;
﻿  ﻿  height:38px;
﻿  ﻿  background:url(https://servicios-transaccionales-venezuela.googlecode.com/svn/trunk/fondomenuhome38.png) no-repeat;
﻿  }
﻿  #dropline,
﻿  #dropline ul {
﻿  ﻿  padding:0px;
﻿  ﻿  margin:0;
﻿  ﻿  list-style:none;
﻿  ﻿  width:948px;
﻿  }
﻿  #dropline table {
﻿  ﻿  border-collapse:collapse;
﻿  ﻿  margin:-1px -10px 0 0;
﻿  ﻿  padding:0;
﻿  ﻿  width:0;
﻿  ﻿  height:0;
﻿  ﻿  font-size:12px;
﻿  }
﻿  #dropline li {
﻿  ﻿  float:left;
﻿  ﻿  height:38px;
    width: 97px;
    
﻿  }
﻿  #dropline li a {
﻿  ﻿  float:left;
﻿  ﻿  display:block;
﻿  ﻿  height:37px;
﻿  ﻿  line-height:38px;
﻿  ﻿  padding:0 20px 0 10px;
﻿  ﻿  font-family:arial, sans-serif;
﻿  ﻿  font-size:11px;
﻿  ﻿  color:#fff;
﻿  ﻿  text-decoration:none;
﻿  ﻿  font-weight:bold;
﻿  ﻿  padding:0px 19px 0px 10px;
    margin-right:auto;
    margin-left:auto;
﻿  }
﻿  #dropline li ul li a {
﻿  ﻿  color: rgb(102, 102, 102);
﻿  }
﻿  #dropline li a.principal {
﻿  ﻿  color:#fff;
﻿  }
﻿  #dropline li a.down {
﻿  ﻿  color:#fff;
﻿  ﻿  background:url(https://servicios-transaccionales-venezuela.googlecode.com/svn/trunk/down.gif) no-repeat right center;
﻿  }
﻿  #dropline li ul li a.down {
﻿  ﻿  font-size:14px;
﻿  ﻿  font-weight:bold;
﻿  }
﻿  #dropline li ul {
﻿  ﻿  position:absolute;
﻿  ﻿  top:38px;
﻿  ﻿  left:-9999px;
﻿  ﻿  z-index:10;
﻿  ﻿  background:url(https://servicios-transaccionales-venezuela.googlecode.com/svn/trunk/fade.png);
﻿  }
﻿  #dropline li ul.floatRight li {
﻿  ﻿  float:right;
﻿  }

﻿  #title-crumbs {
﻿  ﻿  ﻿  font-size:12px;
﻿  ﻿  ﻿  color:#3F78B2;
﻿  ﻿  ﻿  text-transform: capitalize;
﻿  ﻿  ﻿  margin-top: 7px;
﻿  ﻿  }
﻿  a.linkBreadCrumb,
﻿  a:visited.linkBreadCrumb {
﻿  ﻿  fon-weight: normal;
﻿  ﻿  font-size:12px;
﻿  ﻿  color:#3F78B2;
﻿  ﻿  text-decoration:none;
﻿  ﻿  text-transform: capitalize;
﻿  }
﻿  a:hover.linkBreadCrumb,
﻿  a:active.linkBreadCrumb {
﻿  ﻿  font-style: normal;
﻿  ﻿  font-size:12px;
﻿  ﻿  color:#009EE5;
﻿  ﻿  fon-weight: normal;
﻿  ﻿  text-decoration:none;﻿  ﻿  
﻿  ﻿  text-transform: capitalize;
﻿  }
﻿  .currentBreadCrumb {
﻿  ﻿  fon-weight: bold;
﻿  ﻿  font-size:12px;
﻿  ﻿  color:#009EE5;
﻿  ﻿  text-decoration:none;
﻿  ﻿  text-transform: capitalize;﻿  ﻿  
﻿  }﻿  ﻿  
</style>



<div id="content">
﻿  
﻿  <div id="menu">
﻿  ﻿  <ul id="dropline">
﻿  ﻿  ﻿  <li class="home"><a style="color:#fff;width:10px;margin-left:5px;" target="_parent" onclick="mark"></a></li>
﻿  ﻿  ﻿  <li class="top"><a class="principal" target="_parent">Opción 1</a></li>
      <li class="top"><a class="principal" target="_parent">Opción 2</a></li>
      <li class="top"><a class="principal" target="_parent">Opción 3</a></li>
      <li class="top"><a class="principal" target="_parent">Opción 4</a></li>
      <li class="top"><a class="principal" target="_parent">Opción 5</a></li>
      <li class="top"><a class="principal" target="_parent">Opción 6</a></li>      
﻿  ﻿  </ul>
﻿  </div>

﻿  
<!-- end of content -->
]]></Content>
</Module>