<?xml version="1.0" encoding="UTF-8"?>
<Module>
<ModulePrefs title="menu STE" >
  <Require feature="dynamic-height"/>   
  <Require feature="setprefs" />  
</ModulePrefs>  

<Content type="html"><![CDATA[

<style type="text/css">

@font-face {
    font-family: "BBVA Web Book";
    src: url(https://site-ste.googlecode.com/svn/trunk/Site-STE/fonts/WebBook/bbvaweb-book-ttf.ttf);

    font-weight: normal;
}

@font-face {
    font-family: "BBVA Web Light";
    src: url(https://site-ste.googlecode.com/svn/trunk/Site-STE/fonts/WebLight/bbvaweb-light-ttf.ttf);

    font-weight: normal;
}
 
.header-container .main-logo {
    display: inline-block;
}

.header-container .main-menu {
    height: 40px;
    width: 100%;
}

.header-container .main-menu ul.menu {
    background: linear-gradient(to bottom, #0079c1 0px, #00529b 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 5px;
    height: 48px;
    list-style: none outside none;
    padding: 3px 0 0;
    width: 100%;
}

.header-container .main-menu ul.menu li:hover {
    background-color: #2586d7;
}

.header-container .main-menu ul.menu li.home {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    display: inline-block;
    height: 47px;
    padding: 3px 7px 0;
    position: relative;
    top: -2px;
    vertical-align: top;
}

.header-container .main-menu ul.menu li.menu {
    display: inline-block;
    height: 39px;
    width: 15% !important;
    padding: 13px 0 0;
    position: relative;
    text-align: center;
    top: -4px;
    vertical-align: text-top;
}

.header-container .main-menu ul.menu li a {
    color: #0065b7;
}

.header-container .main-menu ul.menu li a span {
    color: #fff;
    font-size:13px;
    font-family: arial;
}

.header-container .main-menu ul.menu li a.no-underline {
    text-decoration: none;
}

div.main-menu .menu li > a [class*="icon-"] {
    background-image: url("https://site-ste.googlecode.com/svn/trunk/Site-STE/img/sprite-white-x24.png");
    margin-right: 10px;
}
.clientes-24x {
    background-position: -444px -444px;
}

.pruebas-24x {
    background-position: -444px -518px;
}

.servicios-24x {
    background-position: -74px -1332px;
}

.informes-24x {
    background-position: -518px -1036px;
}

.soporte-24x {
    background-position: -148px -1851px;
}

.documentacion-24x {
    background-position: -518px -1036px;
}

.icon-24 {
    display: inline-block;
    height: 24px;
    margin-top: 0;
    vertical-align: middle;
    width: 24px;
}

 #title-crumbs {
                        font-size:12px;
                        color:#3F78B2;
                        text-transform: capitalize;
                        margin-top: 20px;
                }
        a.linkBreadCrumb,
        a:visited.linkBreadCrumb {
                fon-weight: normal;
                font-size:12px;
                color:#3F78B2;
                text-decoration:none;
                text-transform: capitalize;
        }
        a:hover.linkBreadCrumb,
        a:active.linkBreadCrumb {
                font-style: normal;
                font-size:12px;
                color:#009EE5;
                fon-weight: normal;
                text-decoration:none;          
                text-transform: capitalize;
        }
        .currentBreadCrumb {
                fon-weight: bold;
                font-size:12px;
                color:#009EE5;
                text-decoration:none;
                text-transform: capitalize;            
        }               

</style>


<div class="header-container">
		<img class="main-logo" src="https://site-ste.googlecode.com/svn/trunk/Site-STE/img/ste-logo.png"/>	
		<div class="main-menu">
			<ul class="menu">
				<li class="home">
					<a href="http://portal-ste.appspot.com/">
						<img src="https://site-ste.googlecode.com/svn/trunk/Site-STE/img/home.png"/>
					</a>
				</li>
				
				<li class="menu">
					<a class="no-underline"  href="#">
						<span class="icon-24 clientes-24x"></span> 
						<span class="menu-title">Clientes</span>
					</a>
				</li>
				
				<li class="menu">
					<a class="no-underline" href="#">
						<span class="icon-24 pruebas-24x"></span>
						<span class="menu-title">Pruebas</span>
					</a>
				</li>
				
				<li class="menu">
					<a class="no-underline" href="#">
						<span class="icon-24 servicios-24x"></span>
						<span class="menu-title">Servicios</span>
					</a>
				</li>
				
				<li class="menu">
					<a class="no-underline" href="#">
						<span class="icon-24 informes-24x"></span>
						<span class="menu-title">Informes</span>
					</a>
				</li>
				
				<li class="menu">
					<a class="no-underline" href="#">
						<span class="icon-24 soporte-24x"></span>
						<span class="menu-title">Soporte</span>
					</a>
				</li>
				
				<li class="menu">
					<a class="no-underline" href="#">
						<span class="icon-24 documentacion-24x"></span>
						<span class="menu-title">Documentación</span>
					</a>
				</li>
			</ul>		
		</div>	
	</div>
<!-- end of content -->

 <!-- breadcrumbs-->
        <div id="title-crumbs">breadcrumbs</div>
        
        <script>


        	
       
	
	 function indice (parametros, rootSite)
        {      
                for(var i=0; i<parametros.length; i++)
                {
                        if(parametros[i]== rootSite)
                        {
                                return i;
                        }
                }      
        }
	

	 function showBreadcrumbs()
        {
                // Construct the breadcrumb string
                //var rootSite = prefs.getString("VarrootSite");
                var rootSite = "home";
                var s ="Documentación >";
                var i,j,k = 0;
                var base = "Home";
                var barra = "/";
                var parametros = gadgets.util.getUrlParameters()["parent"].split("portal-ste")[1].split("/");  
                console.log(parametros);
                var indexroot = indice(parametros, rootSite);  
               
                for (i=0;i<parametros.length;i++)
                {                              
                   s += "&nbsp;<a class=\'linkBreadCrumb\' href=\'"+ base + rootSite + barra + "\' target=\'_parent\' title=\' " + parametros[i].replace(/-/g," ") + "  \'> parametros[i] </a>";
                       
                }
                 console.log("1Cadenita: " + s);  
                document.getElementById("title-crumbs").innerHTML = s;  
               
        }
	


showBreadcrumbs();
</script>
        

]]></Content>
</Module>